@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

body {
    font-family: 'Inter', sans-serif !important;
}

#description,
#overview p {
    color: #1e1e1e !important;
    font-weight: 200;
}

hr {
    margin-top: 1em;
    margin-bottom: 2em;
}

.imageWrapper {
    width: 75%;
    height: 75%;
}
